#### 第一次练习

- 把"Hello World"保存到一个变量里，并且print出来。
- 把一个文本信息保存到一个变量里，print出来，存一个新的文本信息到同一个变量里，print这个新信息。

In [4]:
message = "Hello World!"
print (message)

Hello World!

In [5]:
message ="Hello World!"
print (message)

message = "Hello Python World!"
print (message)

Hello World!
Hello Python World!

In [3]:
uni_name='   江西财经大学   '
print(uni_name)

   江西财经大学

- 去掉上例中变量uni_name里的前后空格。

In [11]:
uni_name='   江西财经大学   '
uni_name=uni_name.rstrip()
uni_name=uni_name.lstrip()
uni_name=uni_name.strip()
uni_name
print(uni_name)

江西财经大学

In [13]:
# 其他学院的同学可以将school改为自己学院名称

school='统计学院'

- 请将uni_name和school合并起来并打印出来。

In [15]:
school='统计学院'
full_name=uni_name + "" +school
print(full_name)

江西财经大学统计学院

- 请在uni_name和school之间加入一个制表符并打印出来，然后在uni_name和school间换一行再打印出来。

In [27]:
print(uni_name+"\t"+school)

江西财经大学	统计学院

In [28]:
print(uni_name+"\n"+school)

江西财经大学
统计学院

In [12]:
height_yao = 226
height_ye = 190

- 姚明的身高是226cm，叶莉的身高是190cm，请以文本和数字混排的形式，打印“叶莉比姚明低XXcm”，XX请在print中计算得到。

In [34]:
height_yao =226
height_ye =190
XX=height_yao - height_ye
print("叶莉比姚明低"+str(XX)+"cm")

叶莉比姚明低36cm