#### 第一次练习

- 把"Hello World"保存到一个变量里，并且print出来。
- 把一个文本信息保存到一个变量里，print出来，存一个新的文本信息到同一个变量里，print这个新信息。

In [1]:
x="Hello World"
print(x)
x="666"
print(x)

Hello World
666

In [2]:
uni_name='   江西财经大学   '
print(uni_name)
uni_name.rstrip()
uni_name.lstrip()
print(uni_name.strip())

   江西财经大学
江西财经大学

- 去掉上例中变量uni_name里的前后空格。

In [3]:
# 其他学院的同学可以将school改为自己学院名称

school='统计学院'
full_name=uni_name+''+school
print(full_name)

   江西财经大学   统计学院

- 请将uni_name和school合并起来并打印出来。

In [4]:
print("uni_name\tschool")
print("uni_name\nschool")
print("uni_name\t\nschool")

uni_name	school
uni_name
school
uni_name
school

- 请在uni_name和school之间加入一个制表符并打印出来，然后在uni_name和school间换一行再打印出来。

In [5]:
print(uni_name+"\t"+school)
print(uni_name+"\t\n"+school)

   江西财经大学   	统计学院
   江西财经大学
统计学院

In [6]:
height_yao = 226
height_ye = 190
print("叶莉比姚明低"+str(height_yao-height_ye)+"cm")

叶莉比姚明低36cm

- 姚明的身高是226cm，叶莉的身高是190cm，请以文本和数字混排的形式，打印“叶莉比姚明低XXcm”，XX请在print中计算得到。

In [7]:
print("叶莉比姚明低"+str(height_yao-height_ye)+"cm")

叶莉比姚明低36cm